html,body{
    background-color: #f2f4f9;
    height: 100%;
}
.f-form-control-solid {
    background-color: #eef0f6;
    border-color: #eef0f6;
}
.btn-outline-primary {
    color: #0061f2;
    border-color: #0061f2;
}


.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(34, 39, 46, 0.15);
    overflow: hidden;
}

